<%= form_with(model: student) do |form| %>
  <% if student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
        <% student.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :first_name, "First Name" %>
    <%= form.text_field :first_name %>
  </div>

  <div class="field">
    <%= form.label :last_name, "Last Name" %>
    <%= form.text_field :last_name %>
  </div>
  

  <div class="field">
    <%= form.label :UIN, "UIN" %>
    <%= form.text_field :UIN %>
  </div>

  <div class="field">
    <%= form.label :email, "Email Address" %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :position, "Position" %>
    <%= form.text_field :position %>
  </div>

  <div class="field">
    <%= form.label :points, "Points" %>
    <%= form.text_field :points %>
  </div>

  <div class="field">
    <%= form.label :rewards_earned, "Rewards Earned" %>
    <%= form.text_field :rewards_earned %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
