<p id="notice"><%= notice %></p>

<p>
  <strong>UIN:</strong>
  <%= @student.UIN %>
</p>

<p>
  <strong>Points:</strong>
  <%= @student.points %>
</p>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
