<h1>Are you sure you want to remove this alumni?</h1>
<p id="notice"><%= notice %></p>

<p>
  <strong>First Name:</strong>
  <%= @alumni.first_name %>
</p>

<p>
  <strong>Last Name:</strong>
  <%= @alumni.last_name %>
</p>

<p>
  <strong>LinkedIn URL:</strong>
  <%= @alumni.LinkedIn %>
</p>

<p>
  <strong>Occupation:</strong>
  <%= @alumni.alumni_occupation %>
</p>

<p>
  <strong>Graduation Year:</strong>
  <%= @alumni.alumni_grad_year %>
</p>

<%= link_to 'Back to Alumni List', alumnis_path %> |
<%= link_to 'Delete', @alumni, method: :delete %>