<h1>Are you sure you want to remove this alumni?</h1>
<p id="notice"><%= notice %></p>

<p>
  <strong>LinkedIn URL:</strong>
  <%= @alumni.LinkedIn %>
</p>

<p>
  <strong>Graduation Year:</strong>
  <%= @alumni.alumni_grad_year %>
</p>

<p>
	<strong>Highest Position:</strong>
	<%= @alumni.highest_position %>
</p>

<%= link_to 'Back to Alumni List', alumnis_path %> |
<%= link_to 'Delete', @alumni, method: :delete %>