<p id="notice"><%= notice %></p>

<h1>Alumnis</h1>

<table>
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>LinkedIn URL</th>
      <th>Occupation</th>
      <th>Graduation Year</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @alumnis.each do |alumni| %>
      <tr>
        <td><%= alumni.first_name %></td>
        <td><%= alumni.last_name %></td>
        <td><%= alumni.LinkedIn %></td>
        <td><%= alumni.alumni_occupation %></td>
        <td><%= alumni.alumni_grad_year %></td>
        <td><%= link_to 'Show', alumni %></td>
        <td><%= link_to 'Edit', edit_alumni_path(alumni) %></td>
        <td><%= link_to 'Delete', delete_alumni_path(alumni) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Add Alumni', new_alumni_path %>
