<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @alumni.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @alumni.last_name %>
</p>

<p>
  <strong>Linkedin:</strong>
  <%= @alumni.LinkedIn %>
</p>

<p>
  <strong>Alumni occupation:</strong>
  <%= @alumni.alumni_occupation %>
</p>

<p>
  <strong>Alumni grad year:</strong>
  <%= @alumni.alumni_grad_year %>
</p>

<%= link_to 'Edit', edit_alumni_path(@alumni) %> |
<%= link_to 'Back', alumnis_path %>
