<p id="notice"><%= notice %></p>

<p>
  <strong>LinkedIn Link:</strong>
  <%= @alumni.LinkedIn %>
</p>

<p>
  <strong>Graduation Year:</strong>
  <%= @alumni.alumni_grad_year %>
</p>

<p>
  <strong>Highest Position:</strong>
  <%= @alumni.highest_position %>
</p>

<%= link_to 'Edit', edit_alumni_path(@alumni) %> |
<%= link_to 'Back to Alumni List', alumnis_path %>
