<p id="notice"><%= notice %></p>

<p>Your Points: <%= current_user.points %></p>

<h1>Rewards</h1>

<table>
  <thead>
    <tr>
      <th>Reward</th>
      <th>Points Required</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rewards.each do |reward| %>
      <tr>
        <td><%= reward.reward_name %></td>
        <td><%= reward.reward_points %></td>
        <td><%= button_to 'Show', reward, :method => :get %></td>
        <td><%= button_to 'Redeem', redeem_reward_path(reward), :method => :get %></td>
        <td><%= button_to 'Edit', edit_reward_path(reward), :method => :get %></td>
        <td><%= button_to 'Delete', delete_reward_path(reward), :method => :get %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= button_to 'New Reward', new_reward_path, :method => :get %>

<br><br>

<h1>Awaiting Confirmation</h1>

<table>
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>UIN</th>
      <th>Reward</th>
    </tr>
  </thead>

  <tbody>
    <% @pending_rewards.each do |pending_reward| %>
      <tr>
        <td><%= pending_reward.reward_name %></td>
        <td><%= pending_reward.UID %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<!--
<h1>Rewards (Students)</h1>

<table>
  <thead>
		<tr>
		  <th>Reward</th>
			<th>Points Required</th>
			<th colspan="3"></th>
		</tr>
	</thead>

	<tbody>
		<% @rewards.each do |reward| %>
			<tr>
			  <td><%= reward.reward_name %></td>
				<td><%= reward.reward_points %></td>
        <td><%= button_to 'Accept', accept_reward_path(reward), :method => :get %></td>
			</tr>
		<% end %>
	</tbody>
<table>
-->