<p id="notice"><%= notice %></p>

<p>
  <strong>Reward Name:</strong>
  <%= @reward.reward_name %>
</p>

<p>
  <strong>Points Required:</strong>
  <%= @reward.reward_points %>
</p>

<%= link_to 'Edit', edit_reward_path(@reward) %> |
<%= link_to 'Back', rewards_path %>
