<p id="notice"><%= notice %></p>

<p>
  <strong>First Name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last Name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>UIN:</strong>
  <%= @user.UID %>
</p>

<p>
  <strong>Points:</strong>
  <%= @user.points %>
</p>

<p>
  <strong>Rewards Earned:</strong>
  <%= @user.rewards_earned %>
</p>

<% if @user.is_admin == true %>
<p>
  <strong>Is an Admin:</strong>
  <%= @user.is_admin %>
</p>
<% end %>

<p>
  <strong>Is a Officer:</strong>
  <%= @user.is_officer %>
</p>

<table>
      <thead>
        <tr>
          <th><%= button_to 'Edit', edit_user_path(@user), :method => :get %></td>
          <th><%= button_to 'Logout', logout_path, :method => :delete %></td>
        </tr>
      </thead>
</table>