<p id="notice"><%= notice %></p>

<p>
  <strong>First Name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last Name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>UIN:</strong>
  <%= @user.UID %>
</p>

<p>
  <strong>Points:</strong>
  <%= @user.points %>
</p>

<p>
  <strong>Rewards Earned:</strong>
  <%= @user.rewards_earned %>
</p>

<% if @user.is_admin == true %>
  <p>
    <strong>Is an Admin?</strong>
    <p>Yes</p>
  </p>
<% end %>

<% if @user.is_officer == true %>
  <p>
    <strong>Is an Officer?</strong>
    <p>Yes</p>
  </p>
<% else %>
  <p>
  <strong>Is an Officer?</strong>
  <p>No</p>
  </p>
<% end %>

<table>
      <thead>
        <tr>
          <th><%= button_to 'Edit', edit_user_path(@user), :method => :get %></td>
          <th><%= button_to 'Logout', logout_path, :method => :delete %></td>
        </tr>
      </thead>
</table>

<% if current_user.officer_apply == false && current_user.is_admin == false && current_user.is_officer == false %>
  <br><th><%= button_to 'Apply to be an Officer!', applyOfficer_user_path(current_user), :method => :get %></td>
<% end %>