<p id="notice"><%= notice %></p>

<p>
  <strong>First Name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last Name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>First UID:</strong>
  <%= @user.UID %>
</p>

<p>
  <strong>Points:</strong>
  <%= @user.points %>
</p>

<p>
  <strong>Rewards Earned:</strong>
  <%= @user.rewards_earned %>
</p>

<p>
  <strong>Is an Admin:</strong>
  <%= @user.is_admin %>
</p>

<p>
  <strong>Is a Officer:</strong>
  <%= @user.is_officer %>
</p>

<%= button_to 'Edit', edit_user_path(@user), :method => :get %>