<h1>Delete User</h1>


<p>Are you sure you want to delete this user?</p>

<p> <b>First Name:</b> <%= @user.first_name %> </p>
<p> <b>Last Name:</b> <%= @user.last_name %> </p>
<p> <b>Email:</b> <%= @user.email %> </p>
<p> <b>UIN:</b> <%= @user.UID %> </p>
<p> <b>Points:</b> <%= @user.points %> </p>
<p> <b>Rewards Earned:</b> <%= @user.rewards_earned %> </p>
<p> <b>Is an Admin:</b> <%= @user.is_admin %> </p>
<p> <b>Is an Officer:</b> <%= @user.is_officer %> </p>


<table>
      <thead>
        <tr>
          <th><%= button_to 'Yes', @user, method: :delete%></td>
          <th><%= button_to 'Back to Users List', users_path, :method => :get %></td>
        </tr>
      </thead>
</table>