<p id="notice"><%= notice %></p>

<p>
  <strong>Uid:</strong>
  <%= @user.UID %>
</p>

<p>
  <strong>User name:</strong>
  <%= @user.user_name %>
</p>

<p>
  <strong>User age:</strong>
  <%= @user.user_age %>
</p>

<p>
  <strong>User address:</strong>
  <%= @user.user_address %>
</p>

<p>
  <strong>User email:</strong>
  <%= @user.user_email %>
</p>

<p>
  <strong>User phone:</strong>
  <%= @user.user_phone %>
</p>

<p>
  <strong>User gender:</strong>
  <%= @user.user_gender %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
