<p id="notice"><%= notice %></p>

<p>
  <strong>UID:</strong>
  <%= @user.UID %>
</p>

<p>
  <strong>User Name:</strong>
  <%= @user.user_name %>
</p>

<p>
  <strong>User Age:</strong>
  <%= @user.user_age %>
</p>

<p>
  <strong>User Address:</strong>
  <%= @user.user_address %>
</p>

<p>
  <strong>User Email:</strong>
  <%= @user.user_email %>
</p>

<p>
  <strong>User Phone:</strong>
  <%= @user.user_phone %>
</p>

<p>
  <strong>User Gender:</strong>
  <%= @user.user_gender %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
