<p id="notice"><%= notice %></p>

<p>
  <strong>First Name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last Name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>UIN:</strong>
  <%= @user.UID %>
</p>

<p>
  <strong>Points:</strong>
  <%= @user.points %>
</p>

<% if @user.is_admin == true %>
  <p>
    <strong>Is an Admin?</strong>
    <p>Yes</p>
  </p>
<% else %>
  <p>
    <strong>Is an Admin?</strong>
    <p>No</p>
  </p>
<% end %>

<% if @user.is_officer == true %>
  <p>
    <strong>Is an Officer?</strong>
    <p>Yes</p>
  </p>
<% else %>
  <p>
    <strong>Is an Officer?</strong>
    <p>No</p>
  </p>
<% end %>

<p>
  <strong>Position in Org:</strong>
  <%= @user.position %>
</p>

<br>

<table>
  <thead>
    <tr>
      <th>Earned Rewards:</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @earned_rewards.each do |earned_reward| %>
      <tr>
      <td><%= earned_reward.reward_name %></td>
      <td><%= earned_reward.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= button_to 'Edit', edit_user_path(@user), :method => :get %>
<br>
<%= button_to 'Back to Users List', users_path, :method => :get %>
