<p id="notice"><%= notice %></p>

<p>
  <strong>Event Name:</strong>
  <%= @event.event_name %>
</p>

<p>
  <strong>Event Point:</strong>
  <%= @event.event_point %>
</p>

<p>
  <strong>Event Location:</strong>
  <%= @event.event_location %>
</p>

<p>
  <strong>Event Date:</strong>
  <%= @event.event_date %>
</p>

<p>
  <strong>Start Time:</strong>
  <%= @event.event_start %>
</p>

<p>
  <strong>End Time:</strong>
  <%= @event.event_end %>
</p>

<p>
  <strong>Event Verification Code:</strong>
  <%= @event.event_verification %>
</p>

<p>
  <strong>Attendee List ID:</strong>
  <%= @event.event_attendee_list_id %>
</p>

<table>
  <strong>Attendence List:</strong>
  <thead>
    <tr>

      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @attendees.each do |attendee_list| %>
      <tr>
        <td><%= get_current_user_first_name attendee_list.UID %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
