<p id="notice"><%= notice %></p>

<p>
  <strong>Event Name:</strong>
  <%= @event.event_name %>
</p>

<p>
  <strong>Event Point:</strong>
  <%= @event.event_point %>
</p>

<p>
  <strong>Event Location:</strong>
  <%= @event.event_location %>
</p>

<p>
  <strong>Event Date:</strong>
  <%= @event.event_date %>
</p>

<p>
  <strong>Start Time:</strong>
  <%= @event.event_start %>
</p>

<p>
  <strong>End Time:</strong>
  <%= @event.event_end %>
</p>

<p>
  <strong>Event Verification Code:</strong>
  <%= @event.event_verification %>
</p>

<p>
  <strong>Attendee List ID:</strong>
  <%= @event.event_attendee_list_id %>
</p>

<p>  
  <strong>Attendence List</strong>
  <table>
    <p>
    <%= @attendees.each do |attendee_list| %>
      <tr>
        <td><%= attendee_list.compound_key %></td>
        <td><%= attendee_list.attendee_list_id %></td>
        <td><%= attendee_list.UID %></td>
      </tr>
    <% end %>
    </p>
  </p>
</table>



<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
