<p id="notice"><%= notice %></p>

<p>
  <strong>Event:</strong>
  <%= @event.event_id %>
</p>

<p>
  <strong>Point Assess:</strong>
  <%= @event.point_assess %>
</p>

<p>
  <strong>Event Location:</strong>
  <%= @event.event_location %>
</p>

<p>
  <strong>Start Time:</strong>
  <%= @event.start_time %>
</p>

<p>
  <strong>End Time:</strong>
  <%= @event.end_time %>
</p>

<p>
  <strong>Event Title:</strong>
  <%= @event.event_title %>
</p>

<p>
  <strong>Attendee List:</strong>
  <%= @event.attendee_list_id %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
